{% extends 'base.html' %}

{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Good Shop 的初衷</h1>
            <p class="lead fw-normal text-white-50 mb-0">為了您，我們只賣好商品</p>
        </div>
    </div>
</header>
<br/><br/>
<br/><br/>
<br/><br/>

<div class="container">
    <div class="row">
        <center>
        <div class="col-8">
            <h3 align="justify-center">Good Shop 是一家專注於提供高品質3C產品的線上商城，我們致力於為顧客帶來最具性價比的數位產品體驗。</h3>
            <br/><br/>
            <h3>從手機、筆記型電腦、智能穿戴設備到各式電腦周邊，Good Shop 擁有多樣化的商品選擇，滿足不同用戶的需求。我們承諾只提供正品，並提供快速、安全的配送服務，確保每一位顧客都能享受到舒適的購物體驗。</h3>
            <br/><br/>
            <h3>無論您是技術愛好者還是日常使用者，Good Shop 都是您購買3C產品的最佳選擇。</h3>
        </div>
    </div> 
</div>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>


{% endblock %}