{% extends 'base.html' %}

{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">結帳設定</h1>
            <p class="lead fw-normal text-white-50 mb-0">剛搬新家嗎?</p>
        </div>
    </div>
</header>
<br/><br/>
<br/>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
          <form method="POST" action="{% url 'update_info' %}">
            {% csrf_token %}
            <h3 class="text-center">帳單資訊</h3>
            <br/>
            {{ form.as_p}}
            <br/>
            <h3 class="text-center">宅配資訊</h3>
            <br/>
            {{ shipping_form.as_p }}
            <br/>
            <center><button class="btn btn-success float-left" type="submit">送出更改</button></center>
        </form>
        </div>
    </div> 
</div>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>


{% endblock %}