{% extends 'base.html' %}

{% block content %}
    <!--開頭-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">訂單資訊</h1>
                <p class="lead fw-normal text-white-50 mb-0">送到公司嗎?</p>
            </div>
        </div>
    </header>
    <br/><br/>
    <div class="container">
        <div class="card">
            <div class="card-header">
                您的訂單
            </div>
            <div class="card-body">
                {% for product in cart_products %}

                    {{ product.name }} &nbsp;
                                
                        {% if product.is_sale %}
                            ${{ product.sale_price }}      
                        {% else %}
                            ${{ product.price}}
                        {% endif %}
                    <br/>
                    <small>數量:
                    {% for key, value in quantities.items %}
                        {% if key == product.id|slugify %}
                            {{ value }}
                        {% endif %}
                    {% endfor %}</small>
                    <br/><br/>
                {% endfor %}
                
                合計：${{ totals }}<br/><br/>
                
                <a href="{% url 'cart_summary' %}"><button type="button" class=" btn btn-sm btn-secondary">更新購物車</button></a>
            </div>
        </div>
        <br><br>
        <div class="card">
            <div class="card-header">
              宅配資訊
            </div>
            <div class="card-body">
                
                <form method="POST" action="{% url 'billing_info' %}">
                    {% csrf_token %}
                    {{ shipping_form.as_p }}
                    <button type="submit" class="btn btn-primary">確認訂單</button>
                    
                </form>
                
            </div>
        </div>
    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    

{% endblock %}